<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="app" class="container-fluid">
      <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-justified">
          <li>
            <a href="#form2" @click="change"
              >创建用户<span>&nbsp;&nbsp;&nbsp;</span
              ><span
                class="glyphicon glyphicon-search"
                aria-hidden="true"
              ></span
            ></a>
          </li>
          <li>
            <a href="#form" @click="change"
              >查看数据 <span>&nbsp;&nbsp;&nbsp;</span
              ><span
                class="glyphicon glyphicon-heart-empty"
                aria-hidden="true"
              ></span>
            </a>
          </li>
        </ul>
      </nav>

      <div id="table" v-show="!condition">
        <br />
        <form class="form-inline">
          <div class="form-group">
            <label for="ID">ID</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputName2"
              placeholder="1"
              v-model="your_ID"
            />
          </div>
          <div class="form-group">
            <label for="Key">Key</label>
            <input
              type="email"
              class="form-control"
              id="Key"
              placeholder="5679132132"
              v-model="your_key"
            />
          </div>
          <div class="form-group">
            <label for="Pages">PageStart</label>
            <input
              type="email"
              class="form-control"
              id="Pages"
              placeholder="1"
              v-model="your_page"
            />
          </div>
          <div class="form-group">
            <label for="PageSize">PageSize</label>
            <input
              type="email"
              class="form-control"
              id="PageSize"
              placeholder="10"
              v-model="your_size"
            />
          </div>
          <button type="button" class="btn btn-primary" @click="findCount">
            FIND
          </button>
          <strong>一共 : {{your_count}}条数据</strong>
        </form>
        <br />
        <br />
        <table class="table table-striped">
          <!-- On rows -->

          <tr>
            <td class="active">ID</td>
            <td class="active">IP</td>
            <td class="success">Time</td>
            <td class="warning">website</td>
          </tr>
          <tr v-for="(item, index) in your_info" :key="index">
            <td class="info" v-text="index+1"></td>
            <td class="active" v-text="item.ip"></td>
            <td class="success" v-text="item.time"></td>
            <td class="warning" v-text="item.website"></td>
          </tr>
        </table>
      </div>

      <div id="form" v-show="condition">
        <br />
        <div class="form-group">
          <label for="exampleInputEmail1">WebSite</label>
          <input
            type="username"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="WebSite"
            v-model="webSite"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Visits</label>
          <input
            type="username"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Visits"
            v-model="visits"
          />
        </div>
        <button class="btn btn-success btn-lg btn-block" @click="submit">
          提交
        </button>
        <br />
        <strong v-show="haskey" style="font-size: 30px"
          >你的key为 : {{key}} , 你的id为:{{your_data.id}}
          ,你的次数为:{{your_data.visits}}
        </strong>
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          msg: "hello",
          condition: true,
          webSite: "",
          visits: 0,
          key: "",
          haskey: false,
          your_ID: 1,
          your_key: "825937477500928",
          your_page: 1,
          your_size: 10,
          your_data: {
            id: 1,
            visits: 1
          },
          your_count: 100,
          your_info: [
            {
              ip: "127.0.0.1",
              time: new Date(),
              website: "www.github.io"
            }
          ]
        },
        watch: {
          visits: function(val, oldVal) {
            console.log("new: %s, old: %s", val, oldVal);
          }
        },
        computed: {},
        methods: {
          change() {
            this.condition = !this.condition;
          },
          submit() {
            axios
              .post("http://localhost:9000/blog/save", {
                website: this.webSite,
                count: this.visits
              })
              .then(resp => {
                if (resp.data.value == 1) {
                  this.key = "对不起,你已经注册过了";
                } else {
                  this.key = resp.data.value;
                  axios
                    .get(
                      "http://localhost:9000/blog/findByWebsite/" + this.webSite
                    )
                    .then(resp => {
                      this.your_data = resp.data.value;
                    });
                }
                this.haskey = true;
              });
          },
          findCount() {
            axios.get("http://localhost:9000/blog/findcount/1").then(resp => {
              console.log("resp.data :", resp.data);
              this.your_count = resp.data;
              axios
                .get(
                  "http://localhost:9000/blog/findall/" +
                    this.your_ID +
                    "/" +
                    this.your_key +
                    "/" +
                    this.your_page +
                    "/" +
                    this.your_size
                )
                .then(resp => {
                  this.your_info = resp.data;
                });
            });
          }
        }
      });
    </script>
  </body>
</html>
